body { background: #bf1504; color: #fff; margin: 0; padding: 0; }
header { background: #000; font: 21px/22px "din-condensed-web", sans-serif; }
header div { width: 70%; min-width: 500px; max-width: 990px; margin: 0 auto 40px auto; padding: 110px 0 20px; }
header h1 { margin: 0; padding: 0; background: url(../logo.png) scroll no-repeat 0 0; width: 591px; height: 85px; text-indent: -1000em; overflow: hidden; }
header p { text-transform: uppercase; text-align: right; }
header p em { color: #f4a205; font-style: normal; }
#content { width: 70%; min-width: 500px; max-width: 990px; margin: 40px auto;}
section { width: 40%; margin: 0 9%; display: inline-block; font-weight: 300; font: 23px/1.3em "chaparral-pro", georgia, serif;  }
section#intro { margin-left: 0; }
section#emailform { margin-right: 0; }
form label { display: inline; }
form input#name, form input#vhhth-vhhth { font: 23px/1.3em "chaparral-pro", georgia, serif; color: #fff; background-color: #8f0200; border-radius: 2px; border: none; margin: 0 0 10px 5px; padding: 2px 5px;  }
::-webkit-input-placeholder { color: rgba(255,255,255,0.65); font-style: italic;}
:-moz-placeholder { color: rgba(255,255,255,0.65); font-style: italic;}
form button { text-transform: uppercase; font-weight: 400; font: 21px/22px "din-condensed-web", sans-serif; color: #fff; background: #000; border: none; padding: 5px 10px; margin: 10px 0;  }
form button:hover { background: #333; }
form button:active { background: #555; }
a:link, a:visited { padding: 1px 3px; color: #fff; text-decoration: underline; }
a:hover { background: rgba(0,0,0,0.3); text-decoration: none; }


@media screen and (max-width: 480px) {
	header div, #content { width: 85%; padding: 30px 0 10px; margin: 0 auto; min-width: 90%; max-width: 90%; }
	header h1 { width: 100%; height: 60px; background-position: center middle; background-size: contain; }
	section { width: 100%; margin: 0; display: block; font-size: 19px; line-height: 1.3em; }
}
