
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; }

p { margin: 0.85em 0; padding: 0; }

body { margin: 0; padding: 0; background: #fff; color: #000; }

section p, section li { font: 21px/1.25em "chaparral-pro", georgia, serif; }

a { font-style: italic; }




header { background: #000; color: #fff; border-bottom: 3px solid #fff; }
header h1 {margin: 0 0 0 -2px; padding: 0; background: url(../images/logo.png) scroll no-repeat 0 0; width: 591px; height: 85px; text-indent: -1000em; overflow: hidden;}
header p { margin: 0;  font-family: "din-condensed-web", sans-serif; font-size: 21px; text-transform: uppercase; color:#fca60e; }

#intro { padding: 10% 40% 20% 7%; background: #c91604; color: #fff; border-bottom: 3px solid #fff; }
#intro p { text-align: left; }
#intro a { color: #fff;  }
#intro a:hover { color: #fca60e; text-decoration: none;}

#how-it-works { background: #1b1b1b; color: #fff; }


#how-it-works ul { margin: 0 auto; padding: 0; list-style: none; }
#how-it-works li { background: #ffac0e; border-radius: 50%; color: #000; display: inline-table; font-family: "din-condensed-web", sans-serif; font-size: 51px; letter-spacing: -0.04em; margin: 10px; padding: 25px 18px 5px 18px; text-align: center; vertical-align: middle;}
#how-it-works li span { text-transform: uppercase; font-size: 22px; margin: -20px 0 0 0; letter-spacing: normal; display: block; }
#how-it-works a { color: #fff; }


#whos-here ul { margin: 0; padding: 0; list-style: none; }
#whos-here li { margin: 10px; width: 100px; height: 100px; text-align: center; display: inline-block; }
#whos-here a { text-decoration: none; color: #333; font-size: 12px; font-weight: 700; -webkit-transition: 0.5s all ease-out; opacity: 0.6 }
#whos-here a img { width: 82px; height: 82px; border: none; border-radius: 41px; margin: 0 9px; background: #444; }
#whos-here a:hover { opacity: 1; -webkit-transition: 0.1s all ease-out; }

#emailform { background: #141c1f; color: #fff; padding: 80px 40px;  }
#emailform h2 {color: #ffac0e; font-family: "din-condensed-web", "Arial Narrow", sans-serif; font-weight: 200; font-size: 69px; line-height: 0.8; text-transform: uppercase; letter-spacing: -0.06em;  }



form label { display: inline; }
form input#name, form input#vhhth-vhhth { font: 19px/1.3em "chaparral-pro", georgia, serif; color: #fff; background-color: #000; border-radius: 2px; border: none; margin: 0 0 10px 5px; padding: 2px 5px;  }
::-webkit-input-placeholder { color: rgba(255,255,255,0.65); font-style: italic;}
:-moz-placeholder { color: rgba(255,255,255,0.65); font-style: italic;}
form button { text-transform: uppercase; font-weight: 400; font: 19px/22px "din-condensed-web", sans-serif; color: #222; background: #fff; border: none; padding: 5px 10px; margin: 4px 0;  }
form button:hover { background: #ffac0e;  }
form button:active { background: #ffac0e; }




/* Desktop version */

@media screen and (min-width: 641px) {	

header { padding: 3% 40% 2% 7%; background: #09070a url(../images/lights-blur.jpg) fixed no-repeat 100% 0%; border-bottom: 0 none; }
header p {width: 567px; text-align: right;}
#intro {  padding: 4% 40% 20% 7%; background: #09070a url(../images/lights-blur.jpg) fixed no-repeat 100% 0%;  }
#intro p { max-width: 450px;}

#the-space { background: #c91604 url(../images/wip-blur.jpg) fixed repeat 50% 50%; background-size: cover; padding: 0 0 180px 0; overflow-x: hidden; }
#the-space h2 { background: rgba(191,21,4,0.7) url(../images/iconfade.png) fixed top center; color: #fff; font-family: "din-condensed-web", "Arial Narrow", sans-serif; font-weight: 200; font-size: 127px; line-height: 74px; text-transform: uppercase; letter-spacing: -0.07em; padding: 32px 0 0 15px; margin-bottom: 140px; }
#the-space h2 span { font-size: 38px; letter-spacing: normal; margin-right: -10px; position: relative; top: -62px; border-bottom: 5px solid #fff; }
#the-space p { background: rgba(0,0,0,0.77) url(../images/iconfade.png) fixed top center; color: #fff; width: 23%; min-width: 300px; /*position: relative; right: -68%;*/ float: left; clear: left; padding: 15px 4.5% 15px 5%; margin: 0; }
#the-space p:last-child { padding-bottom: 64px; }
#the-space p.first { padding-top: 64px; } /* I know, I know, this is a dirty hack. Please fix me. */
#the-space a { color: #fff; }

#how-it-works { background: #fff; color: #222; clear: right; padding: 5% 30% 10% 400px; }
#how-it-works h2 { color: #ffac0e; font-family: "din-condensed-web", "Arial Narrow", sans-serif; font-weight: 200; font-size: 117px; line-height: 0.8; text-transform: uppercase; letter-spacing: -0.06em;}
#how-it-works li { -webkit-transition: 0.32s all ease-out; }
#how-it-works li:hover { -webkit-transform: scale(1.08); -webkit-transition: 0.1s all ease-out; }
#how-it-works a { color: #bf1504; }


#whos-here { background: #141c1f; color: #fff; padding: 80px 40px; }
#whos-here h2 { color: #ffac0e; font-family: "din-condensed-web", "Arial Narrow", sans-serif; font-weight: 200; font-size: 99px; line-height: 82px; text-transform: uppercase; letter-spacing: -0.06em; width: 255px; float: left;  }
#whos-here p, #whos-here ul { margin-left: 280px; }
#whos-here h2:after { content: " \2192"; }
#whos-here li a { color: #fff; }
#whos-here li a img { -webkit-transition: 0.5s all ease-out; }
#whos-here li a:hover img { box-shadow: 0 0 12px rgba(255,255,255,0.6); -webkit-transform: scale(1.1); -webkit-transition: 0.1s all ease-out; }

#emailform { padding: 5% 30% 10% 400px; background: #141c1f url(../images/iconfade.png) fixed top center; }
#emailform h2 {width: 255px; float: left; }
#emailform  h2:after { content: " \2192"; }

#emailform p, #emailform form { margin-left: 280px; margin-top: 0;}

}





/* Mobile version */

@media screen and (max-width: 640px) {

header { padding: 10px; 0;}
header h1 {width: 100%; height: 62px; margin:0;  background-position: 50% 50%; background-size: contain; }
header p { text-align: center;}

#intro, #the-space, #how-it-works, #whos-here { padding: 10% 10% 20% 10%; }

#intro h2, #the-space h2, #how-it-works h2, #whos-here h2, #emailform h2 { font-family: "din-condensed-web", "Arial Narrow", sans-serif; text-align: center; text-transform: uppercase; font-weight: 200; font-size: 39px; letter-spacing: -0.02em; }

#the-space { background: #fff; color: #000; }
#the-space h2 { color: #c91604;}
#the-space a { color: #c91604; }

#how-it-works h2 { color: #ffac0e; }
#how-it-works p { text-align: center; }
#how-it-works li { border-radius: 0; background: transparent; color: #ffac0e; font-family: "din-condensed-web", sans-serif; font-size: 47px; letter-spacing: -0.04em; line-height: 35px;  display: inline-table; width: auto; height: auto; text-align: center; vertical-align: middle; margin: 10px 15px; padding-top: 0; }
#how-it-works li span { text-transform: uppercase; font-size: 22px; margin-bottom: -6px; letter-spacing: normal; display: block; }


#whos-here h2 { color: #c91604; }
#whos-here ul { margin: 0 -8%; }
#whos-here a { opacity: 1; }

#emailform h2 { margin: 0 0 20px 0; text-align: center;}

}


/* portrait iPad */
@media screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait){

#how-it-works,
#emailform { padding: 10% 10% 20% 10%; }

}

/* landscape iPad */
@media screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
/*    * { background: blue !important; }*/

}
